body {
  background-color: rgb(43, 205, 226);
}

.navbar > *{
  cursor: pointer;
  display: inline;
}

#toggle {
  display: none;
}

.nav-menu{
  margin: 0 30px 0 0;
  display: none;
}

#toggle:checked + .nav-menu {
  display: block;
}